.class {
  font-family: serif;
}

body {
  margin: 0;
  padding: 0;
}

#everything {
  min-height: 100vh;
}

#instruction {
  font-size: 40px;
  margin-top: 150px;
  text-align:center;
}

#countdown {
  font-size: 60px;
  text-align: center;
}
