.text {
  font-family: helvetica;
}

.sectionLink {
  text-decoration: none;
}

.sectionButton {
  border: 1px solid black;
  color: black;
  font-family: helvetica;
  font-size: 40px;
  margin: 20px 30px;
  text-align: center;
}

#chooseSection {
  font-size: 40px;
  margin-top: 50px;
  text-align:center;
}

body {
  margin: 0;
  padding: 0;
  border-bottom: 1px;
}

#logo {
  display: block;
  height: 100px;
  margin: 30px auto 0 auto;
}

.photo {
  bottom: 0;
  display: block;
  height: 400px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  top: 30px;
}

#everything {
  min-height: 100vh;
}

#instruction {
  font-size: 36px;
  margin-top: 150px;
  text-align:center;
}

#countdown {
  font-size: 60px;
  text-align: center;
}
