.text {
  font-family: helvetica;
}

.sectionLink {
  text-decoration: none;
}

.sectionButton {
  border: 1px solid black;
  color: black;
  font-family: helvetica;
  font-size: 40px;
  margin: 20px 30px;
  text-align: center;
}

#chooseSection {
  font-size: 40px;
  margin-top: 100px;
  text-align:center;
}

body {
  margin: 0;
  padding: 0;
  border-bottom: 1px;
}

#everything {
  min-height: 100vh;
}

#instruction {
  font-size: 40px;
  margin-top: 150px;
  text-align:center;
}

#countdown {
  font-size: 60px;
  text-align: center;
}
